{% load static %}

<section class="hero_img_bg ">
    <div class="row h-100 mx-0">
        <div
            class="col-sm-12 col-md-8 offset-md-2 col-lg-8 offset-lg-2 d-flex align-items-center justify-content-center">

            <div id="carouselExampleIndicators" class="carousel slide rounded" data-ride="carousel">
                <div>
                    <h1 class="text-center carousel-header">Banyan Ayurveda</h1>
                    <p class="text-center carousel-text">A Healthy outside starts from the inside</p>
                    <div class="col">
                    <button class="btn shadow-lg btn-lg btn-block float-left">Buy Ayurvedic Products</button>
                    <button class="btn shadow-lg btn-lg btn-block float-right">Book our Treatments</button>
                    </div>
                </div>
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="text-center">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                        </div>
                        <img src="{% static 'img/landing/carousel-img-1.jpg' %}" class="d-block img-responsive"
                            alt="...">
                    </div>
                    <div class="carousel-item">
                        <div class="text-center">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                        </div>
                        <img src="{% static 'img/landing/carousel-img-2.jpg' %}" class="d-block img-responsive "
                            alt="...">
                    </div>
                    <div class="carousel-item">
                        <div class="text-center">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                        </div>
                        <img src="{% static 'img/landing/carousel-img-3.jpg' %}" class="d-block img-responsive"
                            alt="...">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>


