{% load static %}

<div class="container mt-3 py-3">
    <h1 class="text-center">Ayurvedic Treatments and Products in the heart of Dublin</h1>
    <hr>
    <div class="row">
        <div class="col-sm-12 col-lg-5 col-md-6">
            <p class="landing-info"><strong>Banyan Ayurveda</strong> is one of the Dublin's only full service Ayurvedic
                Wellness Centers, specializing in Ayurvedic constitutional evaluation, herbal treatments; Abhayanga,
                Marma (energy) point therapy, Shirodhara and Bastis, Facial treatments, Panchakarma therapies and
                overall health management, using the principles of Ayurveda.
            </p>
            <p class="landing-info">Our mission is to work with our clients in offering Ayurvedic treatments that can be
                easily incorporated into any schedule, budget and lifestyle. We try to help you work with Ayurvedic and
                Yogic practices to achieve the perfect balance between health and harmony.
            </p>
            <p class="landing-info">In addition to our treatments, we also carry traditional Ayurvedic herbal
                formulations, herbal teas, oils
                and some skin care products that can be used in conjunction with managing your overall health.
            </p>
        </div>
        <div>
         <img src="{% static 'img/landing/landing_about.jpg' %}" class="img-fluid" alt="">
        </div>
    </div>
</div>