 {% load static %}
 <div class="">
     <div class="table-responsive">
         <table class="table table-sm table-borderless">
             <thead>
                 <tr>
                     <th>Order</th>
                     <th>Date</th>
                     <th>Items</th>
                     <th>Total</th>
                 </tr>
             </thead>
             <tbody>
                 {% for order in orders %}
                 <tr>
                     <td>
                         <a href="{% url 'order_history' order.order_number %}"
                             title="{{ order.order_number }}">{{ order.order_number|truncatechars:6 }}
                         </a>
                     </td>
                     <td>{{ order.purchase_date|date:"SHORT_DATE_FORMAT" }}</td>
                     <td>
                         <ul class="list-unstyled">
                             {% for item in order.lineitems.all %}
                             <li class="small">
                                 {{ item.product.name }} x {{ item.quantity }}
                             </li>
                             <hr>
                             {% endfor %}

                         </ul>
                     </td>
                     <td class="bold">€{{ order.grand_total }}</td>
                 </tr>
                 {% endfor %}
             </tbody>
         </table>
     </div>
 </div>
 </div>