{% load static %}
{% load cart_tools %}

<div class="card mb-3">
    <div class="card-title card-header bg-info text-white">
        <h5><i class="far fa-list-alt"></i> Order Summary </h5>
    </div>
    <div class="card-body">
        <div class="scrollable">
            {% for item in order.lineitems.all %}
            <div class="row">
                <div class="col-4 ">
                    {% if item.product.is_a_treatment %}
                    <a href="{% url 'service_details' item.product.id %}">
                        {% if item.product.image %}
                        <img class="img-fluid rounded" src="{{ item.product.image.url }}" alt="{{ product.name }}">
                        {% else %}
                        <img class="img-fluid rounded" src="{{ MEDIA_URL }}no-image.jpg" alt="{{ product.name }}">
                        {% endif %}
                    </a>
                    {% else %}
                    <a href="{% url 'product_details' item.product.id %}">
                        {% if item.product.image %}
                        <img class="img-fluid rounded" src="{{ item.product.image.url }}" alt="{{ product.name }}">
                        {% else %}
                        <img class="img-fluid rounded" src="{% static 'img/no-image.jpg' %}" alt="{{ product.name }}">
                        {% endif %}
                    </a>
                    {% endif %}
                </div>
                <div class="col-8">
                    <p class="font-weight-bold">{{ item.product.name }}</p>
                    {% if item.product.is_a_treatment %}
                    <p class="small font-weight-bold">Appointment Date and Time:</p>
                    <p class="small mt-0 bg-light">{{ item.datetime }}</p>
                    {% else %}
                    <p class="small font-weight-bold">Qty: {{ item.quantity }}</p>
                    {% endif %}
                    <p class="small"><span class="font-weight-bold text-info">Subtotal:
                        </span> €{{ item.product.price | calc_subtotal:item.quantity }}
                    </p>
                </div>
            </div>
            <hr />
            {% endfor %}
        </div>
    </div>
    <hr>
    <div class="ml-2">
        {% if order.delivery_cost > 0 %}
        <p class="small mt-1 mb-1 text-muted">Delivery Cost: €{{ order.delivery_cost|floatformat:2 }}</p>
        {% else %}
        <p class="small mt-1 mb-1 ">Delivery Cost: €0</p>
        {% endif %}
        <p class="lead">Grand Total:
            <span class="font-weight-bold">€{{ order.grand_total|floatformat:2 }}</span>
        </p>
    </div>
</div>


