{% extends "base.html"%}
{% load static %}
{% load cart_tools %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block extra_title %}- Checkout{% endblock %}
{% block content %}

<!--Delivery info-->
{% include 'products/includes_products/delivery_banner.html' %}

<!--Checkout Header-->
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-uppercase main-heading text-center">Checkout</h1>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        {% include 'checkout/includes/checkout_form.html' %}
        {% include 'checkout/includes/order_summary.html' %}
    </div>
</div>

<div id="loader-wrapper">
    <span class="loader"><i class="fas fa-5x fa-sync-alt fa-spin text-light"></i></span>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script type="text/javascript" src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}