{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner_content %}

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p class="lead">{% blocktrans with site.name as site_name %}Login below or Create an account <a
    href="{{ signup_url }}"><span class="text-success">here</span></a>{% endblocktrans %}</p>





{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
  <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}
<div class="main">
  <!--Social account ballot-->
  <div class="socialaccount_ballot">

    <ul class="socialaccount_providers">
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>
  </div>
  {% include "socialaccount/snippets/login_extra.html" %}
  <div class="login-header rounded-top ">
    <h3 class="text-uppercase text-center my-3">Sign In</h3>
  </div>

  <!--Login Form-->
  <div class="login-box">
    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form|crispy }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="btn btn-checkout btn-block" type="submit">{% trans "Sign In" %} &raquo;</button>
      <p><a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      </p>
    </form>
  </div>
</div>
{% endblock %}