{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}





<div class="main">

  <p class="lead">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in <span class="text-success">here</span></a>.{% endblocktrans %}</p>
  <!--Social account ballot-->
  <div class="socialaccount_ballot">

    <ul class="socialaccount_providers">
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>
  </div>
  <div class="login-header rounded-top ">
    <h3 class="text-uppercase text-center my-3">Sign Up</h3>
  </div>
  <!--Register Form-->
  <div class="register-box">
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {{ form|crispy }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="btn btn-checkout btn-block my-2" type="submit">{% trans "Sign Up" %} &raquo;</button>
    </form>


  </div>
</div>
{% endblock %}