 {% load static %}

 <div class="card">
     <ul class="list-group list-group-flush">
         {% for blog in user_blog %}
            <li class="list-group-item">
                <div class="card-body">
                    <a href="{{ blog.get_absolute_url }}">
                        <h6>{{ blog.title|title }} <small><i class="fas fa-tag"></i>&nbsp{{ blog.category }}</small></h6>
                    </a><br>
                    <div
                        class="ml-2 float-right border rounded bg-success text-white text-center d-flex justify-content-around">
                        <p class="card-text">
                            <span class="post-date text-white"><i
                                    class="far fa-thumbs-up"></i>&nbsp{{ blog.get_like_count }}</span>
                            <span class="post-comment text-white"><i
                                    class="fas fa-comments"></i>&nbsp{{ blog.get_comment_count }}</span>
                            <span class="post-view text-white"><i
                                    class="far fa-eye"></i>&nbsp{{ blog.get_view_count }}</span>
                        </p>
                    </div>
                    <p class="card-text text-md-center"><small class="text-muted font-italic">Posted
                            {{ blog.publish_date|timesince}} ago</small></p>
                </div>
            </li>
         {% endfor %}
     </ul>
 </div>