{% extends "base.html" %}
{% load static %}
{% block extra_title %}- Blog| {{ view_type|title }} {% endblock %}
{% block content %}

<div class="container blog-container">
    <div class="row">
        <div class="blog-detail col-12 d-flex justify-content-center">
            <figure> <img src="{{ blog.thumbnail.url }}" class="img-fluid" alt=""></figure>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="border blog-title bg-info text-white text-center">
                <h4>{{ blog.title }} | <small class="text-warning">{{ blog.category }}</small></h4>
            </div>
        </div>
        <div class="col-12">
            <a  href="{% url 'blog:author' blog.author.id %}" class="lead float-left my-1 text-success"><i class="fas fa-user-circle fa-2x text-warning"></i>&nbsp{{ blog.author|title }}
            </a>
            <div class="float-right border rounded bg-success text-white text-center b-width">
                <span class="post-date text-white"><i class="far fa-thumbs-up"></i>&nbspLikes |</span>
                <span class="post-comment text-white"><i class="fas fa-comments"></i>&nbspComments |</span>
                <span class="post-comment text-white"><i class="far fa-eye"></i>&nbspView</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="blog-content">
                <p class="blog-text">{{ blog.content | safe }}</p>
            </div>
            
            <div class="cs-tags">
                <a href="#blog_comment" id="">
                    <div class="tags">
                        <span>Tags</span>
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock content  %}