{% extends "base.html" %}
{% load static %}
{% block extra_title %}- Blog|categories{% endblock %}
{% block content %}

<div class="container my-2">
    <!--Search Form-->
    <div class="col-sm-12 col-md-6 mx-auto col-lg-4 my-3 py-1 py-lg-0">
        <form method="GET" action="{% url 'blog:search' %}">
            <div class="input-group w-100">
                <input class="form-control border border-black rounded-0" type="text" name="q"
                    placeholder="Search Blogs">
                <div class="input-group-append">
                    <button class="form-control btn search-btn border" type="submit">
                        <span class="icon">
                            <i class="fas fa-search"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <!--Blog Category Menu-->
        <div class="col-lg-4 col-md-4 col-sm-12 mb-2 ">
            <div class="">
                <ul class="list-group list-inline">
                    <li class="list-group-item list-group-item-action list-group-item-info text-center text-uppercase font-weight-bolder"
                        aria-current="true">
                        Categories
                    </li>
                    {% for item in blog_category_menu %}
                    <li><a href="{% url 'blog:category' item %}"
                            class="list-group-item list-group-item-action  list-group-item-danger font-weight-bold text-white lead">{{ item }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <!--Blog category display-->
        <div class="col-lg-8 col-md-8 col-sm-12 blog-container">
            <ul>
                {% for blog in blog_category %}
                <div class="card blog-card mb-3 text-dark">
                    <img src="{{ blog.thumbnail.url}}" class="card-img-top" alt="blog-image">
                    <div class="card-body blog-content">
                        <a href="{{ blog.get_absolute_url }}">
                            <h5 class="card-title text-center text-info">{{ blog.title }} |
                                <small>{{ blog.category }}</small></h5>
                        </a>
                        <a href="{% url 'blog:author' blog.author.id %}" class="card-text text-success"><i
                                class="fas fa-user-circle fa-2x text-warning"></i>&nbsp{{ blog.author|title }}</a>
                        <p class="card-text blog-text">{{ blog.content|safe |truncatechars:120 }}</p>
                        <div
                            class="float-right border rounded bg-success text-white text-center b-width d-flex justify-content-around">
                            <p class="card-text">
                                <span class="post-date text-white"><i
                                        class="far fa-thumbs-up"></i>&nbsp{{ blog.get_like_count }}</span>
                                <span class="post-comment text-white"><i
                                        class="fas fa-comments"></i>&nbsp{{ blog.get_comment_count }}</span>
                                <span class="post-view text-white"><i
                                        class="far fa-eye"></i>&nbsp{{ blog.get_view_count }}</span>
                            </p>
                        </div>
                       <p class="card-text"><small class="text-muted font-italic">Posted {{ blog.publish_date|timesince}} ago</small></p>
                    </div>
                </div>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}