{% extends "base.html" %}
{% load static %}
{% block extra_title %}- Blog| Author{% endblock %}
{% block content %}
<div class="container my-2">
    <div class="row">
        <div class="col-12 col-lg-8 my-3 border rounded bg-info text-white mx-auto">
            <h2 class="text-center">{{ page_user|title }}'s Blogs</h2>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 mx-auto blog-container">
            {% for blog in user_blog %}
            <a href="{{ blog.get_absolute_url }}">
                <div class="card blog-card mb-3 text-dark">
                    <img src="{{ blog.thumbnail.url}}" class="card-img-top" alt="blog-image">
                    <div class="card-body blog-content">
                        <h5 class="card-title text-center text-info">{{ blog.title }} |
                            <small>{{ blog.category }}</small></h5>
                        <p class="card-text blog-text">{{ blog.content|safe |truncatechars:120 }}</p>
                        <p class="card-text">
                            <span>View</span>
                            <span>Likes</span>
                            <span>Comment</span>
                        </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </a>
            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}