{% extends "base.html" %}
{% load static %}
{% block extra_title %}- Blog{% endblock %}
{% block content %}

 <div class="container-fluid py-3">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb" id="breadcrumb-nav">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"> <a href="{% url 'landing' %}" class="pl-2">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Blogs</li>
                    </ol>
                </nav>
                
            </div>
        </div>
    </div>
<div class="container my-2">
    <!--Search Form-->
    {% include 'blog/includes/blog_search_form.html' %}
    <div class="row">
        <!--Blog Category Menu-->
     
        {% include 'blog/includes/blog_cat_snippet.html' %}
        <!--Blog List-->
        <div class="col-lg-8 col-md-8 col-sm-12 blog-container">
            {% for blog in blogs %}
            <div class="card blog-card mb-3 text-dark">
                <img src="{{ blog.thumbnail.url}}" class="card-img-top" alt="blog-image">
                <div class="card-body blog-content">
                    <a href="{{ blog.get_absolute_url }}">
                        <h5 class="card-title text-center text-info">{{ blog.title }} |
                            <small>{{ blog.category }}</small></h5>
                    </a>
                    <a href="{% url 'blog:author' blog.author.id %}" class="card-text text-success"><i
                            class="fas fa-user-circle fa-2x text-warning"></i>&nbsp{{ blog.author|title }}</a>
                    <p class="card-text blog-text">{{ blog.content|safe |truncatechars:120 }}</p>
                    <div
                        class="float-right border rounded bg-success text-white text-center b-width d-flex justify-content-around">
                        <p class="card-text">
                            <span class="post-date text-white"><i
                                    class="far fa-thumbs-up"></i>&nbsp{{ blog.get_like_count }}</span>
                            <span class="post-comment text-white"><i
                                    class="fas fa-comments"></i>&nbsp{{ blog.get_comment_count }}</span>
                            <span class="post-view text-white"><i
                                    class="far fa-eye"></i>&nbsp{{ blog.get_view_count }}</span>
                        </p>
                    </div>
                    <p class="card-text"><small class="text-muted font-italic">Posted {{ blog.publish_date|timesince}}
                            ago</small></p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}