{% load static %}
{% load cart_tools %}
<!--Cart Table-->
<div class="table-responsive rounded">
    <table class="table table-sm border">
        <thead class="">
            <tr>
                <th scope="col">Product Info</th>
                <th scope="col"></th>
                <th scope="col">Price</th>
                <th scope="col">Qty</th>
                <th scope="col">Subtotal</th>
            </tr>
        </thead>

        {% for item in cart_items %}
        <tr>
            <td class="cart-image p-3 w-25">
                {% if item.product.image %}
                <img class="img-fluid rounded" src="{{ item.product.image.url }}" alt="{{ product.name }}">
                {% else %}
                <img class="img-fluid rounded" src="{{ MEDIA_URL }}no-image.jpg" alt="{{ product.name }}">
                {% endif %}
            </td>
            <td>
                <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                <!--Cart Update Form-->
                {% include 'cart/includes/cart_update_form.html' %}

                <a class="update-link text-info btn my-4"><i class="fas fa-sync"></i>&nbsp<small>Update</small>
                </a>
                <a class="remove-item text-danger  btn my-4" id="remove_{{ item.item_id }}"><i
                        class="fas fa-trash-alt"></i>&nbsp<small>Remove</small>
                </a>
            </td>
            <td class="py-3">
                <p class="my-0">€{{ item.product.price }}</p>
            </td>
            <td class="py-3 w-25">
                <p class="my-0">{{ item.quantity }}</p>
            </td>
            <td class="py-3">
                <p class="my-0 font-weight-bold">€{{ item.product.price | calc_subtotal:item.quantity }}</p>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="5" class="pt-5 text-right">
                <!--Cart Total-->
                {% include 'cart/includes/cart_total.html' %}
            </td>
        </tr>
        <tr>
            <td colspan="5" class="text-right">
                <!--Checkout Buttons-->
                {% include 'cart/includes/checkout_btn.html' %}
            </td>
        </tr>
    </table>
</div>