{% load static %}

<div  class="col-sm-12 col-md-6 mx-auto col-lg-4 my-3 py-1 py-lg-0">
    <form method="GET" action="{% url 'products' %}">
        <div class="input-group w-100">
            <input class="form-control border border-black rounded-0" type="text" name="q"
                placeholder="Search Our Product">
            <div class="input-group-append">
                <button class="form-control btn search-btn border" type="submit">
                    <span class="icon">
                        <i class="fas fa-search"></i>
                    </span>
                </button>
            </div>
        </div>
    </form>
</div>