{% extends "base.html" %}
{% load static %}
{% block extra_title %}- Blog| Detail {% endblock %}
{% block content %}
<!--Breadcrumb-->
<div class="container-fluid mt-5 py-4">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb" id="breadcrumb-nav">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"> <a href="{% url 'landing' %}" class="pl-2">Home</a></li>
                    <li class="breadcrumb-item"> <a href="{% url 'blog:list' %}" class="pl-2">Blogs</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ blog.title }}</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!--Blog details-->
<div class="container blog-container">
    <div class="row">
        <div class="blog-detail col-12 d-flex justify-content-center">
            <figure> <img src="{{ blog.thumbnail.url }}" class="img-fluid" alt=""></figure>
        </div>
    </div>
    <!-- the if statement below displays edit and delete button if the session user is the owner of the Blog -->
    {% if user.is_authenticated and user == blog.author %}
        <div class="col-sm-6">
            <span><a class="font-small ml-3 mb-0 text-success" href="{{ blog.get_update_url }}"><i
                        class="far fa-edit"></i>&nbspEdit</a></span>
            <span class="font-small mb-0">/</span>
            <span><a class="font-small mb-0 text-danger" href="{{ blog.get_delete_url }}"><i
                        class="fas fa-trash-alt"></i></i>&nbspDelete</a></span>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-12">
            <div class="border blog-title bg-info text-white text-center pt-2">
                <h4>{{ blog.title }} | <small class="text-warning">{{ blog.category }}</small></h4>
            </div>
            <p class="text-dark text-muted">Posted
                {{ blog.publish_date|timesince}} ago</p>
        </div>
        <div class="col-12">
            <div
                class="float-right border rounded bg-success text-white text-center b-width d-flex justify-content-around">
                <span class="post-date text-white"><i class="far fa-thumbs-up"></i>&nbsp{{ blog.get_like_count }}</span>
                <span class="post-comment text-white"><i
                        class="fas fa-comments"></i>&nbsp{{ blog.get_comment_count }}</span>
                <span class="post-view text-white"><i class="far fa-eye"></i>&nbsp{{ blog.get_view_count }}</span>
            </div>
            <a href="{% url 'blog:author' blog.author.id %}" class="lead text-center my-1 text-success"><i
                    class="fas fa-user-circle fa-2x text-warning"></i>&nbsp{{ blog.author|title }}
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="blog-content">
                <p class="blog-text">{{ blog.content | safe }}</p>
            </div>
            <div class="delivery-font">
                <h5>Enjoy this Post? Give it a like</h5>
                <a class="text-success" href="{{ blog.get_like_url }}"><i
                        class="far fa-thumbs-up fa-lg"></i>&nbsp{{ blog.get_like_count }}</a>
            </div>
        </div>
    </div>
    <hr class="blog-hr">
    <!--Blog Comment-->
    {% if request.user.is_authenticated %}
        <div class="row">
            <div class="col">
                <h6>Leave a comment below</h6>
                <form class="" action="" method="POST">
                    {% csrf_token %}
                    {{form |crispy}}
                    <button class="text-uppercase btn btn-info block-btn" type="submit"><i class="fas fa-comments"></i>
                        Comment
                    </button>
                </form>
            </div>
        </div>
    {% else %}
        a href="{% url 'account_login' %}" class="btn btn-checkout block-btn">Login to Comment</a>
    {% endif %}
    <hr class="blog-hr">
    <h4 class="text-uppercase">Comments</h4>
    <div class="row">
        {% for comment in blog.comment %}
            <div class="col-12">
                <h6 class="mt-0"><i class="fas fa-user-circle fa-2x text-secondary"></i>&nbsp{{ comment.user|title }}</h5>
                    <p class="lead">{{ comment.content }}</p>
                    <small class="text-muted">{{ comment.timestamp|timesince }} ago</small>
                    <hr>
            </div>
        {% endfor %}
    </div>
</div>
</div>
{% endblock content  %}

