{% load static %}

<!--feature Container-->
<div class="container pt-4">
    <div class="row">
        <div class="col text-center">
            <h2 class="landing-text text-uppercase">Our Features</h2>
            <hr class="block-divider block-divider-gray my-3">
        </div>
    </div>
    <div class="row mt-5 text-center">
        <div class="col-sm-12 col-md-6 px-lg-3" data-aos="zoom-in-right">
            <h4 class="text-info">Day Spa Experience</h4>
            <img src="https://img.icons8.com/officel/80/000000/massage.png" alt="spa-icon" />
            <p class="mt-4 mb-4 px-lg-5 landing-info delivery-font">
                Enjoy a day of relaxing and luxurious Ayurvedic treatments. Choose from our unique list of Day Spa
                offerings, which include synchronized massage, royal beautify treatments and other therapy.
            </p>
        </div>
        <div class="col-sm-12 col-md-6 px-lg-3" data-aos="zoom-in-left">
            <h4 class="text-info">100% natural ethically sourced items</h4>
            <img src="https://img.icons8.com/dusk/80/000000/alternative-herbal-medicine.png" alt="medicine-icon" />
            <p class="mt-4 mb-4 px-lg-5 landing-text delivery-font">
                Our natural range of products combine Vedic wisdom with nature’s finest ethically sourced herbs to
                support your Ayurvedic lifestyle and provide targeted health benefits to meet the demands of today’s
                urban living.
            </p>
        </div>
    </div>
    <div class="row text-center mb-5">
        <div class="col-sm-12 col-md-6 offset-md-3 mt-lg-3 px-lg-3" data-aos="fade-up"
            data-aos-anchor-placement="top-bottom">
            <h4 class="text-info">Deep tissue healing and relaxation</h4>
            <img src="https://img.icons8.com/officel/80/000000/spa-flower.png"/ alt="flower-icon">
            <p class="mt-4 mb-4 px-lg-5 landing-text delivery-font">
                Banyan Ayurveda is about celebrating and honouring the ancient wisdoms and tradition of the Veda’s and
                bringing its richness to promote wellbeing to all.
                We believe everyone is different; our health plans are designed specifically for you and your
                requirements to achieve your results.
            </p>
        </div>
    </div>
</div>

</div>