@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');


* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Rokkitt', serif;
}

/* ------NAVBAR------ */

.navbar-brand img {
  width: 11.5rem;
}

.navbar-brand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0.3125rem;
}

.navbar {
  padding: 1em 0 !important;
  font-size: larger;
  background-color: #f3725ec5;
  position: static;
  font-weight: 800;
}

.bg-nav {
  background-color: #f3725ec5;
}

.bg-nav a:hover {
  color: azure;
  background-color: #f3725ec5;
  background-image: linear-gradient(62deg, #f3725ec5 0%, #F7AE68 100%);
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:focus {
  color: azure;
}


.navbar-light .navbar-nav .nav-link:hover {
  color: azure;
  background-color: #f3725ec5;
  background-image: linear-gradient(62deg, #f3725ec5 0%, #F7AE68 100%);
}


.navbar-toggler {
  border: none !important;
  outline: none !important;
}


#navbarNav .nav-link,
.nav-link {
  color: white;
}

.navbar-brand img {
  margin-top: -2.188em;
}

@media (max-width: 991px) {
  .navbar-brand img {
    margin-top: 0.625em;
  }
}

/* --------Landing Page---------- */

.hero_img_bg {
  background: url('../img/landing/medicine-shop.jpg') no-repeat center center fixed;
  height: calc(100vh - 110.38px);
  background-size: cover;
}

@media (max-width: 991px) {
  .hero_img_bg {
    height: calc(100vh - 172.38px);
  }
}


.btn-landing,
.btn-landing:hover,
.btn-landing:active,
.btn-landing:focus {
  color: #ffffff;
  background-color: #0000005b;
  border: 1px solid#ffd700;
  box-shadow: 2px green;
  font-size: x-large;
  font-weight: 700;
}

div.carousel-item>img {
  width: 100%;
  height: 300px;
  /* border: 8px solid #f7ad6844;
  border-radius: 8px; */
}

.carousel-control-prev,
.carousel-control-next {
  opacity: 1 !important;
}

div .carousel-header {
  font-family: 'Grandstander', cursive;
  font-weight: 900;
  color: #f3725ec5;
  text-shadow: 2px 2px #ffd700;
}

div .carousel-text {
  font-family: 'Grandstander', cursive;
  font-weight: 400;
  font-size: x-large;
  color: #c8ff00;
}

/* -----All products view----- */

.shop-header {
  font-family: 'Playfair Display', serif;
  color: #f2d900;
}

#productAll .card-detail-badge {
  background: #f2d900;
  text-align: center;
  border-radius: 30px 30px 30px 30px;
  color: #000;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 600;
}

#productAll .card:hover {
  background: #fff;
  box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
  border-radius: 4px;
  transition: all 0.3s ease;
}

#productAll .card-image-overlay {
  font-size: 20px;
}

#productAll .card-image-overlay span {
  display: inline-block;
}

.product-btn {
  background-color: #f3725ec5;
  color: #ffffff;
  border-radius: 80px;
  width: 110px;
}

.product-btn:hover,
.product-btn:active,
.product-btn:focus,
.product-btn:active:focus {
  background-color: #F7AE68;
  color: #ffffff;
  box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
  transition: all 0.3s ease;
}

#productAll h5 {
  text-transform: uppercase;
  font-size: 18px;
}

/* --Search Form-- */

.search-btn {
  color: #ffffff;
  background-color: #f3725ec5;
  /* border-radius: 80px; */
}

.search-btn:hover,
.search-btn:active, 
.search-btn:focus,
.search-btn:active:focus  {
  background-color: #F7AE68;
  color: #ffffff;
}

/* --Delivery Bannner-- */

.delivery-font {
  font-family: 'Grandstander', serif;
}

/* ---Product Categories filter--- */

.filter-button {
  font-size: 18px;
  /* border: 1px solid #f8f9fa; */
  border-radius: 5px;
  text-align: center;
  color: #000000;
  margin-top: 30px;
  margin-bottom: 30px;

}

.filter-button:hover {
  font-size: 18px;
  border: 1px solid #f2d900;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
  background-color: #f2d900;

}

.btn-default:active .filter-button:active {
  background-color: #f2d900;
  color: white;
}

/* ---Service Details---- */

#myTab .nav-link {
  color: #ffffff;
  background-color: #f3725ec5;
  margin: 5px;
}

.add-cart-btn {
  background-color: #ff9d05;
  color: #ffffff;
  height: 37px;
  padding-top: 9px;
  box-shadow: 0px 5px 10px #212121;
  border-radius: 0;
}


.add-cart-btn:hover,
.add-cart-btn:active,
.add-cart-btn:focus,
.add-cart-btn:active:focus {
  background-color: #ffc505;
  color: #ffffff;
}

/* -----Shopping Cart------ */
#BackToProduct {
  text-decoration: none;
  color: #ff9d05;
}

thead {
  background-color: #f3725ec5;
  color: #ffffff;
}

.btn-checkout {
  color: #ffffff;
  background-color: #f3725ec5;
}

.btn-checkout:hover,
.btn-checkout:active,
.btn-checkout:focus,
.btn-checkout:active:focus {
  color: #ffffff;
  background-color: #ffc505;
}