@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');


* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Rokkitt', serif;
  width: 100%;
  min-height: 100vh;
  display: grid;
}

#breadcrumb-nav .breadcrumb {
  background: #faf8f8;
  border-color: transparent;
}

.letter-space {
  letter-spacing: 0.125em;
}

/* ------NAVBAR------ */
.navbar-brand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar {
  background-color: #ebc58cc5 !important;
  width: 100%;
  z-index: 10;
}

.nav-link {
  color: #ffffff !important;
  font-size: 17px;
  margin-right: 5px !important;
  text-transform: uppercase;
}

#navbarDropdown {
  text-transform: none;
}

.offcanvas-header {
  display: none;
}

.navbar-dark .navbar-toggler {
  color: #fff !important;
  border-color: transparent !important;
}

.landing-text {
  text-align: right;
  color: #3FA291;
}


/* ---Nav hover effect-- */
nav ul li .hover-nav,
nav ul li .hover-nav:after,
nav ul li .hover-nav:before {
  transition: all .5s;
}

nav.stroke ul li .hover-nav,
nav.fill ul li .hover-nav {
  position: relative;
}

nav.stroke ul li .hover-nav:after,
nav.fill ul li .hover-nav:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #ffffff;
  height: 1px;
}

nav.stroke ul li .hover-nav:hover:after {
  width: 100%;
}


/* --------Landing Page---------- */

.hero_img_bg {
  background: url('../img/landing/medicine-shop.jpg') no-repeat center center fixed;
  height: calc(100vh - 110.38px);
  background-size: cover;
}

@media (max-width: 991px) {
  .hero_img_bg {
    height: calc(100vh - 172.38px);
  }
}

.view-height {
  min-height: 100vh;
}

.block-divider {
  width: 120px;
  height: 5px;
  border: 0;
  margin: auto;
}

.block-divider-purple {
  background-color: #4f217c;
}

.text-purple {
  color: #4f217c;
  /* color: rgb(255, 230, 92); */
}

/* ----Landing Button--- */
.landing-btn {
  position: relative;
  display: inline-block;
  font-size: 3px;
  padding: 10px 20px;
  margin: 10px 10px 10px;
  border-radius: 6px;
  text-align: center;
  transition: top .01s linear;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  background-color: #f3725ec5;
  box-shadow: 0 0 0 1px #f3725ec5 inset, 0 0 0 2px #f3725ec5 inset, 0 8px 0 0 #f3725ec5, 0 8px 0 1px #f3725ec5, 0 8px 8px 1px #f3725ec5;
  cursor: pointer;
  text-decoration: none !important;
}

.landing-btn:hover {
  background-color: #f9c4d2;
}

.landing-btn:active {
  top: 9px;
  box-shadow: 0 0 0 1px #b18597;
}

.landing-btn p {
  font-family: 'Grandstander', serif;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  user-select: none;
  letter-spacing: 2px;
}


/* -----All products view----- */

.shop-header {
  font-family: 'Playfair Display', serif;
  color: #f2d900;
}

.product-card {
  width: 100%;
  height: 30.000em !important;
}


#productAll .card-detail-badge {
  background: #f2d900;
  text-align: center;
  border-radius: 30px 30px 30px 30px;
  color: #000;
  padding: 5px 10px;
  font-size: 0.875em;
  font-weight: 600;
}

#productAll .card:hover {
  background: #fff;
  box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
  border-radius: 0.250em;
  transition: all 0.3s ease;
}

#productAll .card-image-overlay {
  font-size: 1.250em;
}

#productAll .card-image-overlay span {
  display: inline-block;
}

.product-btn {
  background-color: #f3725ec5;
  color: #ffffff;
  border-radius: 5.000em;
  width: 6.875em;
}

.product-btn:hover,
.product-btn:active,
.product-btn:focus,
.product-btn:active:focus {
  background-color: #F7AE68;
  color: #ffffff;
  box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
  transition: all 0.3s ease;
}

#productAll h5 {
  text-transform: uppercase;
  font-size: 1.125em;
}

/* --Search Form-- */

.search-btn {
  color: #ffffff;
  background-color: #f3725ec5;
}

.search-btn:hover,
.search-btn:active,
.search-btn:focus,
.search-btn:active:focus {
  background-color: #F7AE68;
  color: #ffffff;
}

/* --Delivery Bannner-- */

.delivery-font {
  font-family: 'Grandstander', serif;
}

/* ---Product Categories filter--- */

.filter-button {
  font-size: 1.125em;
  border-radius: 0.313em;
  text-align: center;
  color: #aab7c4;
  margin-top: 1.875em;
  margin-bottom: 1.875em;

}

.filter-button:hover {
  font-size: 1.125em;
  border: 1px solid #f2d900;
  border-radius: 0.313em;
  text-align: center;
  color: #ffffff;
  background-color: #f2d900;

}

.btn-default:active .filter-button:active {
  background-color: #f2d900;
  color: white;
}

/* ---Service Details---- */

#myTab .nav-link {
  color: #ffffff;
  background-color: #f3725ec5;
  margin: 0.313em;
}

.add-cart-btn {
  background-color: #ff9d05;
  color: #ffffff;
  height: 2.313em;
  padding-top: 0.563em;
  border-radius: 0;
}


.add-cart-btn:hover,
.add-cart-btn:active,
.add-cart-btn:focus,
.add-cart-btn:active:focus {
  background-color: #ffc505;
  color: #ffffff;
}

#productAll .service-card {
  height: 17.500em !important;
}

/* -----Shopping Cart------ */
#BackToProduct {
  text-decoration: none;
}

thead {
  background-color: #f3725ec5;
  color: #ffffff;
  width: max-content;
}

.btn-checkout {
  color: #ffffff;
  background-color: #f3725ec5;
}

.btn-checkout:hover,
.btn-checkout:active,
.btn-checkout:focus,
.btn-checkout:active:focus {
  color: #ffffff;
  background-color: #ffc505;
}

/* -------Toasts------ */

.message-container {
  position: fixed;
  top: 5.125em;
  right: 1.063em;
  z-index: 99999;
}

.custom-toast {
  overflow: visible;
}

.toast-capper {
  height: 0.250em;
}

/* ----Checkout and Checkout_Success------ */

.order-summary-card {
  height: fit-content;
  width: 100%;
  margin: 1.250em auto;
  box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
}

.scrollable {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 18.750em;
}

.badge-info,
.btn-info {
  background-color: #f3725ec5 !important;
  border: #f3725ec5 !important;
}

.btn-info:hover,
.btn-info:active,
.btn-info:focus,
.btn-checkout:active:focus {
  background-color: #F7AE68 !important;
}



/* ---Contact Us Page--- */

.contact-inside {
  width: 80%;
  height: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0.625em;
  border-radius: 0.625em;
  background: #fff;
  box-shadow: 0px 0px 10px 0px #666;
}

.contact-map {
  width: 100%;
  height: 31.250em;
  flex: 50%;
}

.contact-form {
  width: 100%;
  height: auto;
  flex: 50%;
  padding: 1.875em;
  text-align: center;
}

.contact-form h1 {
  margin-bottom: 0.625em;
}

.contact-form input {
  width: 100%;
  height: 2.500em;
  color: #000;
  border: 1px solid #bcbcbc;
  border-radius: 3.125em;
  outline: none;
  margin-bottom: 1.250em;
  padding: 0.938em;
  border: 2px solid #f3725ec5;
  border-bottom: 5px solid #f3725ec5;
}

.contact-form input::placeholder {
  color: #aaa;
}

.contact-form textarea {
  width: 100%;
  height: 8.125em;
  color: #000;
  border: 1px solid #bcbcbc;
  border-radius: 0.625em;
  outline: none;
  margin-bottom: 1.250em;
  padding: 0.938em;
  border: 2px solid #f3725ec5;
  border-bottom: 5px solid #f3725ec5;
  font-family: 'Poppins', sans-serif;
}

.contact-form textarea::placeholder {
  color: #aaa;
}




/* --login/register FORM-- */

.main {
  font-family: 'Playfair+Display', serif;
  max-width: 95%;
  width: 31.250em;
}

.btn-social {
  color: #343a40 !important;
  background-color: #f8f9fa !important;
  box-shadow: 0 1px 2px 1px #ddd;
}

#social-link {
  list-style: none;
}


.btn-social:hover,
.btn-social:active,
.btn-social:focus {
  background-color: #cccccc !important;
  color: #ffffff !important;
}


.login-header {
  display: flex;
  justify-content: center;
  background-color: #f3725ec5;
  color: #fff;
  display: flex;
  box-shadow: 2px 2px 5px #555;
}


.login-box,
.register-box {
  width: 100%;
  background-color: #ffffff;
  padding: 20px 30px 30px 30px;
  box-shadow: 2px 2px 5px #555;
}

.allauth-form-content input::placeholder {
  color: #aab7c4;
}

.allauth-form-content input {
  width: 100%;
  padding: 0.750em;
  margin-bottom: 0.938em;
  font-size: 1.250em;
  border: 2px solid #f3725ec5;
  border-bottom: 5px solid #f3725ec5;
  background-color: #fff;
  color: #000;
}

.allauth-form-content input:active,
.allauth-form-content input:focus,
.allauth-form-content input:hover {
  border: 2px solid #f3725ec5;
  border-bottom: 5px solid #f3725ec5;
  box-shadow: none;
}

.allauth-form-content a {
  text-decoration: none !important;
  color: #17a2b8;
}

.allauth-form-content input[type='submit'] {
  /* --bootstrap button-info properties-- */
  display: flex;
  width: min-content;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  background-color: #17a2b8;
  color: #fff;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


.allauth-form-content label:not([for='id_remember']) {
  display: none;
}

.allauth-form-content p {
  margin-top: 1.5rem;
}

/* Blog Page */

.blog-card .card-img-top {
  width: 100% !important;
  height: 160px !important;
  object-fit: cover;
}

.blog-card {
  background: #fff;
  box-shadow: 12px 15px 20px 0px rgba(140, 176, 206, 0.15);
  padding: 5px 10px;
}

.blog-card:hover {
  background: #fff;
  box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
  border-radius: 4px;
  transition: all 0.3s ease;
}


.blog-container a {
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
}

.blog-detail img {
  width: 100% !important;
  height: 18.750em !important;
  margin: 0.625em;
}

.blog-content p {
  font-family: 'Oswald', sans-serif;
  font-size: 1.250em;
  font-weight: 300;
}

.blog-head {
  width: 100%;
  height: 6.250em;
  margin: auto;
}

.blog-title {
  width: 50%;
  margin: auto;
  border-radius: 0.313em;
}

.b-width {
  width: 23%;
}

.blog-hr {
  background-image: linear-gradient(90deg, #17a2b8, transparent);
  width: 100%;
  height: 0.063em;
}

.add-blog {
  color: #fc8600;
}

.deletebtn {
  background-color: #f44336;
}

.cancelbtn {
  background-color: #ccc;
  color: #000000;
}

.cancelbtn,
.deletebtn:hover,
:active,
:focus {
  opacity: 1 !important;
}


/* ---Media Queries--- */

@media (max-width: 1024px) {
  .nav-link {
    font-size: 11px;
  }
}

@media (max-width: 989px) {

  .navbar-collapse {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #a05c51;
    transition: visibility .2s ease-in-out;
  }

  .nav-link {
    color: #ffffff !important;
    font-size: 15px;
    text-transform: none;
    font-weight: bolder;
  }

  .offcanvas-header {
    display: block;
  }

  .navbar-collapse.show {
    visibility: visible;
    transform: translateX(-100%);
    width: 50%;
  }

  .btn-close {
    background-color: transparent;
    border-color: transparent;
    color: #3FA291;
    font-size: 15px;
  }

  .navbar-light .navbar-nav .nav-link {
    text-align: center;
  }

  nav.stroke ul li .hover-nav:hover:after {
    width: 0%;
  }
}


@media (max-width: 991px) {
  .login-box {
    padding: 20px 10px 20px 10px;
  }

  .product-card {
    width: 100%;
    height: auto !important;
  }

  .landing-header {
    font-size: 25px;
  }

  .landing-info {
    font-size: 18px;
  }

  .block-btn {
    display: block;
    width: 100%;
  }
}

@media (max-width:768px) {
  .blog-title {
    width: 100%;
  }

  .b-width {
    width: 50%;
  }
}

@media (max-width:475px) {
  .b-width {
    width: 100%;
  }
}