{% extends "base.html" %}
{% load static %}
{% block extra_title %}- Services{% endblock %}


<!--Main content-->
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            {% include 'includes/search_form.html' %}
            <h1>Treatments</h1>
            <hr>
        </div>
    </div>
    <div class="row" id="productAll">
        {% for service in services %}
        <div class="card mb-3 bg-light">
            <div class="row no-gutters">
                <div class="col-md-4">
                    {% if service.image %}
                        <img class="card-img-top img-responsive" src="{{ service.image.url }}" alt="{{ service.name }}">
                    {% else %}
                        <img class="card-img-top img-responsive" src="{% static 'img/no-img.jpg' %}"
                            alt="{{ service.name }}">
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ service.name }}</h5>
                        <p class="card-text service-info">{{ service.description }}</p>
                    </div>
                    <div class="card-image-overlay ml-2">
                        <span class="card-detail-badge">€{{ service.price }}</span>
                        {% if service.rating %}
                        <small class="text-success"><i class="fas fa-star mr-1"></i>{{ service.rating }} / 5</small>
                        {% else %}
                        <small class="text-success">No Rating</small>
                        {% endif %}
                    </div>
                    <a class="product-btn mt-2 mr-4" href="{% url 'service_details' service.id %}">Learn More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}




