{% load static %}

<div class="container mb-3">
    <div class="row">
        <div class="col-6 offset-3">
            <ul class="nav justify-content-center uppercase">
                <li class="nav-item border mr-3 dropdown">
                    <a class="nav-link category-nav dropdown-toggle text-dark" id="categories_dropdown" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true" href="#">
                        <i class="fas fa-filter mr-3 "></i> Select Categories
                    </a>
                    <ul class="dropdown-menu dropdown-tea-columns" aria-labelledby="categories_dropdown">
                        <li><a href="{% url 'products' %}?category=tea" class="dropdown-item">Tea</a>
                        </li>
                        <li><a href="{% url 'products' %}?category=incense" class="dropdown-item">Incense</a></li>
                        <li><a href="{% url 'products' %}?category=oil" class="dropdown-item">Oil</a></li>
                        <li> <a href="{% url 'products' %}?category=tablet" class="dropdown-item">Tablet</a></li>
                        <li> <a href="{% url 'products' %}?category=tincture" class="dropdown-item">Tincture</a>
                        </li>
                        <div class="dropdown-divider my-0"></div>
                        <li> <a href="{% url 'products' %}"class="dropdown-item">All</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

   
<div class="col-12 mt-">
    {% if current_categories %}
        {% for category in current_categories %}
            <h4 class="text-center text-category">{{ category.friendly_name }}</h4>
        {% endfor %}
    {% else %}
        {% if search_term %}
            <p class="text-center text-info">
                Your search for  <span class="text-dark">"<strong>{{ search_term }}</strong>"</span> produced 
                <strong class="text-dark">{{ products|length }}</strong>
                {% if products|length > 1 %} results
                {% else %}
                    result
                {% endif %}
            </p>
        {% endif %}
    {% endif %}
</div>