{% extends "base.html" %}
{% load static %}
{% block extra_title %}- Services{% endblock %}


<!--Main content-->
{% block content %}

<div class="container ">
    <div class="row my-5 pt-5" id="productAll">
        <!--Service Header-->
        <div class="col-12 text-center ">
            <h1 class="text-center shop-header landing-header">Banyan Treatments</h1>
        </div>
        <!--service card-->
        {% for service in services %}
            <div class="card mb-3 bg-light">
                <div class="row no-gutters">
                    <div class="col-md-4 ">
                        {% if service.image %}
                            <img class="card-img-top img-fluid service-card" src="{{ service.image.url }}"
                                alt="{{ service.name }}">
                        {% else %}
                            <img class="card-img-top img-fluid service-card" src="{{ MEDIA_URL }}no-image.jpg"
                                alt="{{ service.name }}">
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ service.name }}</h5>
                            <p class="card-text service-info">{{ service.description | safe }}</p>
                        </div>
                        <div class="card-image-overlay mx-2 my-2">
                            <span class="card-detail-badge">€{{ service.price }}</span>
                            {% if service.rating %}
                                <small class="text-success"><i class="fas fa-star mr-1"></i>{{ service.rating }} / 5</small>
                            {% else %}
                                <small class="text-success">No Rating</small>
                            {% endif %}
                            <a class="btn product-btn float-right" href="{% url 'service_details' service.id %}">
                                Learn More
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}